<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Commander</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/text_style.css">
</head>
<body>
    <div class="main">

        <div class="top">
            <img src="../static/images/logo.png" class="logo">
            <h1>Total Commander</h1>
            <div class="create-block">
                <img src="../static/images/create_folder.png" alt="" class="create_folder">
                <img src="../static/images/create_file.png" alt="" class="create_file">
                <img src="../static/images/edit_file.png" alt="" class="edit_file">
                <img src="" alt="">
            </div>
        </div>

        <div class="middle">

            <div class="left-panel">

                <div class="navigation">
                    <div class="left-curent-path">
                        <input class="first_input", type="text", value={{path_left}} readonly>
                    </div>
                    <div class="select-folder">
                        &#9759;
                    </div>
                </div>

                <ul class="left-panel-list">
                    {% if return_to_previous_left == 1%}
                        <li class="return">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.. </li>
                    {% endif %}
                    {% for item in items_left%}
                        <li>
                            <div class="icon"><img src="{{ info_left[loop.index-1]['icon'] }}"></div>
                            <div class="name">{{item}}</div> 
                            <div class="information">{{info_left[loop.index-1]['tip']}}&nbsp;&nbsp;&nbsp;&nbsp;{{info_left[loop.index-1]['MB']}}&nbsp;&nbsp;&nbsp;&nbsp;{{info_left[loop.index-1]['date_time']}}</div>
                            <div class="select-elem">
                                <input type="checkbox" name={{item}}>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>

            <div class="right-panel">

                <div class="navigation">
                    <div class="right-curent-path">
                        <input class="second_input", type="text", value={{path_right}} readonly>
                    </div>
                    <div class="select-folder">
                        &#9759;
                    </div>
                </div>

                <ul class="right-panel-list"> 
                    {% if return_to_previous_right == 1%}
                        <li class="return">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.. </li>
                    {% endif %}
                    {% for item in items_right%}
                        <li>
                            <div class="icon"><img src="{{ info_right[loop.index-1]['icon'] }}"></div>
                            <div class="name">{{item}}</div> 
                            <div class="information">{{info_right[loop.index-1]['tip']}}&nbsp;&nbsp;&nbsp;&nbsp;{{info_right[loop.index-1]['MB']}}&nbsp;&nbsp;&nbsp;&nbsp;{{info_right[loop.index-1]['date_time']}}</div>
                            <div class="select-elem">
                                <input type="checkbox" name={{item}}>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>

        </div>

        <div class="bottom">

            <button>Copy</button>
            <button>Move</button>
            <button>Delete</button>
            <button>Rename</button>
    

        </div>

    </div>
    <div class="modal-folder">
        <div class="create-folder-content">
            <div class="close-modal">Close</div>
            <div><b>Name of folder: </b><input type="text" name="" id="newFolder"></div>
            <div><b>Select panel: </b> 
                <select name="panel-selector" id="selector-panel">
                    <option value="1">Panel 1</option>
                    <option value="2">Panel 2</option>
                </select></div>
            <button class="submit-name">Submit</button>
        </div>
    </div>
    <div class="modal-file">
        <div class="create-file-content">
            <div class="close-modal-file">Close</div>
            <div><b>Name of file: </b><input type="text" name="" id="newFile"></div>
            <div><b>Select panel: </b> 
                <select name="panel-selector-file" id="selector-panel-file">
                    <option value="1">Panel 1</option>
                    <option value="2">Panel 2</option>
                </select></div>
            <button class="submit-name-file">Submit</button>
        </div>
    </div>
    

    <script src="../static/js/folder_selection.js"></script>
    <script src="../static/js/create_operations.js"></script>
</body>
</html>